!!!
%html
  %head
    = display_meta_tags site: 'Power Strategies'

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta{name: "robots", content:"index,follow"}
    %link{rel: "stylesheet", href: "https://pro.fontawesome.com/releases/v5.0.13/css/all.css", integrity: "sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG", crossorigin: "anonymous"}

    %link{:charset => "UTF-8", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css", :rel => "stylesheet", :type => "text/css"}/


    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
  %body
    =react_component 'NavBar', html_options: {class: 'nav-container'}, props: {navClass: current_page?(root_path) ? 'navbar-transparent' : 'navbar-opaque'}, prerender: false
    .application-container
      = yield
    =render 'layouts/footer'
